# Ignore the virtual environment directory
env/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore VSCode settings
.vscode/

# Ignore environment variable files
.env

# Ignore log files
*.log

# Ignore SQLite database files
*.sqlite3

# Ignore Docker build files
build/

